.book-container {
  display: grid;
  height: 90vh;
}

.book-details {
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 90vh;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2rem;
}

.book-image > img {
  height: 400px;
  width: 300px;
  object-fit: cover;
}

.notFound-image > img {
  height: 300px;
  width: 200px;
}

.book-Info {
  margin-left: 2rem;
}
.book-Info p,
h3 {
  font-size: 2rem;
  margin: 0;
  color: rgb(47, 47, 47);
}

.details {
  margin-top: 0.5rem;
}

.back-button {
  position: absolute;
  top: 7px;
  left: 10px;
  border: none;
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1.5rem;
  background-color: #4bbe4f;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.back-button:hover {
  background-color: #90d492;
}
